In [220]:
%matplotlib inline

In [222]:
import csv
import pandas as pd

In [224]:
# Read csv file
file = 'IMDb_All_Genres_etf_clean1.csv'
df = pd.read_csv(file)
df

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama"
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama"
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama"
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi"
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama"
...,...,...,...,...,...,...,...,...,...,...
5557,Disaster Movie,2008,"Directors:Jason Friedberg, Aaron Seltzer","Carmen Electra, Vanessa Lachey, Nicole Parker,...",1.9,87,PG-13,$14.19M,Comedy,Sci-Fi
5558,The Hottie & the Nottie,2008,Tom Putnam,"Paris Hilton, Joel David Moore, Christine Laki...",1.9,91,PG-13,$0.03M,Comedy,Romance
5559,From Justin to Kelly,2003,Robert Iscove,"Kelly Clarkson, Justin Guarini, Katherine Bail...",1.9,81,PG,$4.92M,Comedy,"Musical, Romance"
5560,Superbabies: Baby Geniuses 2,2004,Bob Clark,"Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",1.5,88,PG,$9.11M,Comedy,"Family, Sci-Fi"
5561,Cumali Ceber: Allah Seni Alsin,2017,Gökhan Gök,"Halil Söyletmez, Doga Konakoglu, Emre Keskin, ...",1.0,100,Not Rated,Gross Unkown,Comedy,Comedy

In [226]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
# Select relevant feature and target variable
feature = 'Runtime(Mins)'
target = 'Rating'

In [ ]:
# Drop rows with missing values in the target variable and the feature
df.dropna(subset=[target, feature], inplace=True)

In [239]:
# Extract feature (X) and target variable (y)
X = df[feature]]
y = df[target]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Initialize the linear regression model
model = LinearRegression()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
predicted_ratings = model.predict(X_test)

# Retrieve the actual ratings from the test set
actual_ratings = y_test.values
movie_titles = df.loc[X_test.index, 'Movie_Title'].values

# Print the first 5 samples with their predicted and actual ratings and their movie title
for i in range(5):
    print("Movie Title:", movie_titles[i])
    print("Predicted Rating:", predicted_ratings[i])
    print("Actual Rating:", actual_ratings[i])
    print()

Movie Title: Dead Man Down
Predicted Rating: 6.8372390311260665
Actual Rating: 6.4

Movie Title: Talvar
Predicted Rating: 7.022848106419123
Actual Rating: 8.1

Movie Title: La leggenda del pianista sull'oceano
Predicted Rating: 7.513386376836486
Actual Rating: 8.0

Movie Title: Troy
Predicted Rating: 7.4338396302823195
Actual Rating: 7.3

Movie Title: The Debt
Predicted Rating: 6.770950075664261
Actual Rating: 6.8